<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="shops">
    <%= render 'form' %>
    <%= render @shops %>
  </tbody>
</table>

<br>

