<h1>Shops</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody id="shops">
    <%= render 'form' %>
    <% if @shops.present? %>
      <%= render @shops %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Shop', 'javascript:void(0)', class: 'btn', id: 'create_btn' %>
<br>

