<h1><%= @shop.display_name %></h1>

<%= render @shop %>

<h2>Books from this shop:</h2>
<ol>
  <% @shop.books.each do |book| %>
  <li><%= book.title %> (<%= link_to book.author.display_name, book.author %>)</li>
  <% end %>
</ol>

<br />
