<tr>
  <td colspan="5">
    <%= form_with(model: @author, id: 'author-form') do |f| %>

      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
      <%= f.submit "Submit" %>

    <% end %>
  </td>
</tr>
