<tr>
  <%= form_with(model: @author) do |f| %>
    <td></td>
    <td><%= f.text_field :last_name %></td>
    <td><%= f.text_field :first_name %></td>
    <td><%= f.submit "Submit" %></td>
    <td></td>
  <% end %>
</tr>
