<h1>Authors</h1>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>First name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="authors">
    <%= render 'form' %>
    <%= render @authors %>
  </tbody>
</table>

<br>
