<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right nav-item">
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Shops', shops_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
      </ul>
    </nav>
  </div>
</header>
