<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Author</th>
      <th>Shop</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody id="books">
    <%= render 'form' %>
    <%= render @books %>
  </tbody>
</table>

<br>

